.homepage {
  background: #ebefef url(../images/healthcare.jpg) 0 0 no-repeat;
  background-size: contain;
}

.homepage .jumbotron {
  background: none;
}

.main-search-form .pn {height: auto; max-width: 720px; margin: 0 auto;}
.main-search-form .search-text {width: 80%; margin: 0 auto;}
.main-search-form h3 {margin-bottom: 20px}
.main-search-form  {text-align: center;}
.main-search-form img {
  height: 250px;
}
.main-search-form .input-lg {
  width: 650px;
}
#footer-main {
    margin-top: 30px;
}
#footer-main .nav li:hover,
#footer-main .nav a:hover {
  background: transparent;
}

.signup-form .form-control { margin-bottom: 10px; }

.body-image {
  background: url(../images/body.png) 0 0 no-repeat;
  width: 100%;
  background-size: contain;

  min-height: 200px;
  margin-bottom: 20px;
}
.search-fees .darkblue-panel {min-height: 270px;}

.theme {color: #48bcb4}
.search-fees h4 {margin-top: 5px; margin-left: 40px; margin-bottom: 30px;}
.search-fees h2 i {margin-right: 5px;}

.search-fees .tasks-widget { margin-top: 20px;}

.search-fees .form-panel.with-header {
  margin-top: 0;
}

.search-fees .form-panel h3 {margin-top: 0;}

.search-fees .form-panel.with-header h5 {text-align: center;}

.form-panel .white-header {
  background: #f3f3f3;
  padding: 3px;
  margin-bottom: 15px;
}

#header-main .navbar-brand {font-size: 24px;}
#header-main .navbar-brand small {font-size: 12px; display: block; margin-top: -2px;}