
.homepage {
  background: #ebefef url(../images/healthcare.jpg) 0 0 no-repeat;
  background-size: contain;
}

.loader {
  background: url(../images/loader.gif) 50% 50% no-repeat;
  min-height: 80px;
}

.homepage .jumbotron {
  background: none;
  padding-top: 30px;
}

html .popover {max-width: 1000px;}

.main-search-form .pn {height: auto; max-width: 720px; margin: 0 auto;}
.main-search-form .search-text {width: 80%; margin: 0 auto;}
.main-search-form h3 {margin: 10px 0;}
.main-search-form  {text-align: center;}
.main-search-form img {
  height: 250px;
}
.main-search-form .input-lg {
  width: 650px;
}
#footer-main {
    margin-top: 30px;
}
#footer-main .nav li:hover,
#footer-main .nav a:hover {
  background: transparent;
}

.signup-form .form-control { margin-bottom: 10px; }

.body-image {
  background: url(../images/body.png) 0 0 no-repeat;
  width: 100%;
  background-size: contain;

  min-height: 200px;
  margin-bottom: 20px;
}
.search-fees .darkblue-panel {min-height: 270px;}


.search-fees h4 {margin-top: 5px; margin-left: 40px; margin-bottom: 30px;}
.search-fees h2 i {margin-right: 5px;}

.search-fees .tasks-widget { margin-top: 20px;}

.search-fees .form-panel.with-header {
  margin-top: 0;
}

.form-login {margin:0;}

.search-fees .form-panel h3 {margin-top: 0;}

.search-fees .form-panel.with-header h5 {text-align: center;}

.form-panel .white-header {
  background: #f3f3f3;
  padding: 3px;
  margin-bottom: 15px;
}

#header-main .navbar-brand {
  font-size: 40px;
  font-weight: bold;
  background: url(../images/logo2.png) 0 50% no-repeat;
  background-size: contain;
  padding-left: 45px;
}

.nav-wrapper {
  background: #f8f8f8;
  padding: 10px 0;
  margin-bottom: 20px;
}

.nav-wrapper .navbar {
  margin-bottom: 0;
  border: 0;
}


.left-inner-addon,
.left-inner-addon-lg {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
    box-sizing: border-box;
}
.left-inner-addon-lg input {
    padding-left: 40px;
    box-sizing: border-box;
}

.left-inner-addon i,
.left-inner-addon-lg i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    color: #ed9c28;
    z-index: 1;
}

.left-inner-addon-lg i {
  padding: 11px 12px;
  font-size: 24px;
   box-sizing: border-box;

}

.content-panel .adv-table {margin: 10px;}
#fees-list tr,
#fees-list td {
  vertical-align: middle;
  position: relative;
}

#fees-list.has-insurance-info tr,
#fees-list.has-insurance-info td {
  cursor: pointer;
}

#fees-list h2 {margin-left: 10px;}
#fees-list .call-to-action,
#fees-list .rev-call-to-action {
  display: none;
}
#fees-list .opened:hover .call-to-action {
  display: none !important;
}
#fees-list .opened .rev-call-to-action {
  display: block;
}
#fees-list.has-insurance-info tr:hover .call-to-action {
  display: block;
}

#fees-list .opened {
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.5);
}

#fees-list td {border: 0;}
#fees-list .odd,
#fees-list .even {
  border-top: 1px solid #ddd;
}

.fees-filters .slider.slider-horizontal .slider-handle {
  background: #428bca;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-top: -3px;
}

#fees-list .odd:hover,
#fees-list .even:hover {
  background: #fafafa;
}
#fees-list .details {
  cursor: auto;
}

#fees-list .details .row {margin-left: 80px;}



.body-map {
  position: relative;
  width: 550px;
  margin: 0 auto;
}

.body-point {
  position: absolute;
  cursor: pointer;

  height: 15px;
  width: 15px;

  background: #ed5565;
  border: 1px solid #fff;

  border-radius: 50%;
  opacity: 0.5;

  -webkit-transition:opacity 0.5s, -webkit-transform 0.5s;
  transition:opacity 0.5s, transform 0.5s;
}

.body-point-1 { top: 75px; left: 145px; }
.body-point-2 { top: 90px; left: 111px; }
.body-point-3 { top: 90px; left: 130px; }
.body-point-4 { top: 135px; left: 120px; }
.body-point-5 { top: 155px; left: 130px; }
.body-point-6 { top: 155px; left: 110px; }
.body-point-7 { top: 195px; left: 133px; }
.body-point-8 { top: 255px; left: 105px; }
.body-point-9 { top: 65px; left: 238px; }
.body-point-10 { top: 105px; left: 238px; }
.body-point-11 { top: 118px; left: 204px; }
.body-point-12 { top: 150px; left: 225px; }
.body-point-13 { top: 154px; left: 284px; }
.body-point-14 { top: 248px; left: 223px; }
.body-point-15 { top: 115px; left: 335px; }
.body-point-16 { top: 90px; left: 355px; }
.body-point-17 { top: 106px; left: 387px; }
.body-point-18 { top: 162px; left: 389px; }
.body-point-19 { top: 230px; left: 350px; }
.body-point-20 { top: 230px; left: 420px; }
.body-point-21 { top: 230px; left: 440px; }
.body-point-22 { top: 250px; left: 350px; }
.body-point-23 { top: 250px; left: 420px; }
.body-point-24 { top: 250px; left: 440px; }

.body-point:hover {
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  opacity: 1;
  -webkit-transition:opacity 0.5s, -webkit-transform 0.5s;
  transition:opacity 0.5s, transform 0.5s;
}


.activity-panel {margin-bottom: 10px; text-align: left; padding-left: 10px; padding-right: 5px;}
.activity-panel i {width: 60px; text-align: right;}
.activity-panel h5 {margin-top: 7px;}


.theme {color: #48bcb4}
.theme-2 {color: #ac92ec;}
.theme-3 {color: #ed5565;}
.theme-4 {color: #ed9c28;}
.theme-prominent {color: #ed9c28; font-weight: bold;}

.hoverable:hover {
  background: #f3f3f3;
}

.search-fees-title {
  margin-left: 25px;
  margin-top: -15px;
}

.search-fees-title h4 {
  margin-left: 0;
}

.discreet {
  color: #aaa;
  font-style: italic;
}

.provider-contact .white-panel.pn {
  height: auto;
}
.provider-contact .white-panel.pn p {padding: 2px 5px;}
.provider-contact form {padding: 0 10px;}
.provider-contact form input {
  border: 0;
  border-bottom: 1px dashed #ccc;
  font-style: italic;
  box-shadow: none;
  --webkit-box-shadow: none;
}
.provider-contact .blog-text {
  height: 55px;
  overflow: hidden;
  margin-top: 0px;
  padding-top: 5px;
}

.content-panel.medical-center {
  height: auto;
}
#blog-bg {position: relative;}
#blog-bg .blog-title {bottom:0; width: 100%;}
.blog-text p {
  margin-bottom: 0;
}

.left-divider {
  border-left: 1px solid #d3d3d3;
  height: 100%;
}

.insurance-info {text-align: center;}
.insurance-info label {font-weight: bold; color: black;}

/***** provider details *****/
.center-background {
  height: 300px;

  position: absolute;

  background: url() center 0 no-repeat;
  background-size: cover;

  top: 0px;
  left: 0; right: 0;

  z-index: -1;
}

.center-logo {
  background: #fff url() center center no-repeat;
  background-size: contain;

  position: absolute;
  left: 20%;
  bottom: -40px;

  height: 130px;
  width: 130px;
}

.shift-left {margin-right: 10px; margin-left: -10px;}

#insurance-info-modal .modal-dialog{
  width: 400px;
}

#insurance-info-modal .form-login {
  max-width: 1000px;
}